.drawerPaper{
   position: relative;
   white-space: nowrap;
   width: 240px;
}
.drawerPaperClose{
    overflow-x: hidden;
    width: 200px;
}

.list-item-active{
    color:brown;
    background-color: #1976d2;
}